<div class="container" style="padding-top: 36px;">
  <div class="row">
    <div class=" col-md-8 col-md-offset-2 well well-sm text-center">

      <h1 id="greeting">Welcome to the Task Manager</h1>

      <ul class="list-inline">
        <li><a type="button" class="btn btn-primary btn-lg active" href="/tasks">Task Index</a></li>
        <li><a type="button" class="btn btn-default btn-lg active" href="/tasks/new">New Task</a></li>
      </ul>
    </div>
  </div>
</div>
